body {
    background-color: #04A6EB;
    color: #FDFFFF;
    width: 500px;
    margin-right: auto;
    margin-left : auto;
}

button {
    padding: 1px 20px;
    height: 26px;
    background-color: #337AB7;
    border-color: #2E6DA4;
    border-style: none;
    color: #FDFFFF;
}

input {
    height: 20px;
}
